*{
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background-color: rgb(178, 225, 235);
}
header {
    background-color: rgb(21, 108, 142);
    padding: 15px;
}
header h1{
    text-align: center;
    color: white;
}
.btn-nav{
    display: block;
    background-color: rgb(255, 187, 0);
    color: white;
    padding: 5px;
    margin-bottom: 20px;
    width: 80px;
    text-align: center;
    text-decoration: none;
}
.btn-nav:hover{
    background-color: rgb(41, 4, 65);
    color: white;
}
main{
    width: 400px;
    background-color: white;
    margin: auto;
    padding: 15px;
}
label,
input{
    display: block;
}
label{
    margin-bottom: 5px;
}
input{
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}
button{
    padding: 5px 8px;
}
.error-message{
    color: white;
    background-color: red;
    padding: 5px;
    margin-bottom: 5px;
}
.success-message{
    color: white;
    background-color: blue;
    padding: 5px;
    margin-bottom: 5px;
}